In [10]:
import pandas as pd

In [11]:
scout_car = pd.read_csv('Cleaned v1.csv')
scout_car

,URL,make_model,Short Description,Body Type,Price,VAT,KM,Registration (YYYYMM),Horsepower,Type,...,Lane departure warning system,Night view assist,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition,Xenon headlights
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",201601.0,66 kW,Used,...,0,0,1,1,0,1,1,1,0,1
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",201703.0,141 kW,Used,...,0,0,1,1,0,1,1,1,0,1
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",201602.0,85 kW,Used,...,0,0,1,1,0,1,1,1,0,0
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000 km",201608.0,66 kW,Used,...,0,0,1,1,0,1,1,0,0,0
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200 km",201605.0,66 kW,Used,...,0,0,1,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,NaN,147 kW,New,...,1,0,1,1,1,1,1,1,1,0
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",201901.0,165 kW,Used,...,1,0,1,1,0,1,1,1,1,0
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,201903.0,146 kW,Pre-registered,...,1,0,1,1,0,1,0,1,1,0
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,201906.0,147 kW,Pre-registered,...,0,0,1,1,0,1,1,0,1,0
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,201901.0,165 kW,Demonstration,...,0,0,1,1,0,1,1,0,1,0

In [12]:
scout_car.isnull().sum()[scout_car.isnull().sum() > 0]

Short Description                     46
Body Type                             60
VAT                                 4513
Registration (YYYYMM)               1597
Type                                   2
Previous Owners                     6640
Next Inspection (YYYYMM)           12384
Inspection new                     11987
Warranty (months)                  13123
Offer Number                        3175
First Registration                  1597
Body Color                           597
Paint Type                          5772
Body Color Original                 3774
# of Doors                           212
# of Seats                           977
Model Code                         10941
Displacement (cc)                    496
Cylinders                           5680
Weight (kg)                         6974
Drive chain                         6858
CO2 Emission (g CO2/km (comb))      2436
Emission Class                      3628
Emission Label                     11934
Gears                               4712
Country version                     8333
Upholstery Material                 3720
Upholstery Color                    5861
Consumption (L /100 km) comb        2883
Consumption (L /100 km) city        3272
Consumption (L /100 km) country     3212
dtype: int64

In [17]:
scout_car[['Registration (YYYYMM)']]

       Registration (YYYYMM)
0                   201601.0
1                   201703.0
2                   201602.0
3                   201608.0
4                   201605.0
...                      ...
15914                    NaN
15915               201901.0
15916               201903.0
15917               201906.0
15918               201901.0

[15919 rows x 1 columns]