# Import Libraries and EDA

In [1]:
import pandas as pd

In [2]:
scout_car = pd.read_json('scout_car.json', lines=True)
scout_car

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,...,[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,...,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# For my reference
scout_car.to_csv('Initial CSV.csv', index=False)

In [3]:
scout_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [4]:
scout_car.shape

(15919, 54)

In [5]:
scout_car.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [6]:
(scout_car.isnull().mean() * 100).sort_values(ascending=False)

kW                               100.000000
Last Timing Belt Service Date     99.899491
Electricity consumption           99.139393
Available from                    98.291350
Last Service Date                 96.444500
Availability                      96.011056
Other Fuel Types                  94.472015
Next Inspection                   77.793831
Inspection new                    75.299956
Emission Label                    74.967021
Model Code                        68.729192
Non-smoking Vehicle               54.915510
Country version                   52.346253
Full Service                      48.395000
Weight                            43.809285
Drive chain                       43.080596
prev_owner                        42.892141
Previous Owners                   41.711163
Paint Type                        36.258559
Cylinders                         35.680633
Warranty                          34.047365
Gears                             29.599849
vat                               28.349771
Body Color Original               23.613292
Upholstery                        23.368302
Offer Number                      19.944720
Emission Class                    18.977323
\nExtras\n                        18.606696
Consumption                       11.973114
CO2 Emission                      11.357497
First Registration                10.032037
\nEntertainment & Media\n          8.631195
\nSafety & Security\n              6.168729
Nr. of Seats                       6.137320
\nComfort & Convenience\n          5.779257
Body Color                         3.750236
Displacement                       3.115774
Nr. of Doors                       1.331742
Body                               0.376908
body_type                          0.376908
short_description                  0.288963
Type                               0.012564
Fuel                               0.000000
Gearing Type                       0.000000
make_model                         0.000000
Model                              0.000000
Make                               0.000000
description                        0.000000
null                               0.000000
hp                                 0.000000
registration                       0.000000
km                                 0.000000
price                              0.000000
url                                0.000000
dtype: float64

# Formatting
Convert all lists to string for processing.
Drop columns with 90% or greater nulls.

In [22]:
scout_car = scout_car.loc[:, scout_car.isnull().mean() <= 0.90]
scout_car = scout_car.map(lambda x: str(x) if isinstance(x, list) else x)

In [11]:
# Nr. of Seats
scout_car['Nr. of Seats'].value_counts()

Nr. of Seats
['\n5\n']    13336
['\n4\n']     1125
['\n7\n']      362
['\n2\n']      116
['\n6\n']        2
['\n3\n']        1
Name: count, dtype: int64

# BREAKING DOWN INDIVIDUAL MAKE-MODELS

By number of seats.

In [12]:
audi_a3 = scout_car[scout_car['make_model'].str.contains('Audi A3', na=False)]
audi_a3 = audi_a3.applymap(lambda x: str(x) if isinstance(x, list) else x)
audi_a3['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/3487993748.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  audi_a3 = audi_a3.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    2951
NaN           121
['\n4\n']      25
Name: count, dtype: int64

In [13]:
audi_a1 = scout_car[scout_car['make_model'].str.contains('Audi A1', na=False)]
audi_a1 = audi_a1.applymap(lambda x: str(x) if isinstance(x, list) else x)
audi_a1['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/3061178201.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  audi_a1 = audi_a1.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    1392
['\n4\n']    1080
NaN           140
['\n6\n']       1
['\n3\n']       1
Name: count, dtype: int64

In [14]:
opel_insignia = scout_car[scout_car['make_model'].str.contains('Opel Insignia', na=False)]
opel_insignia = opel_insignia.applymap(lambda x: str(x) if isinstance(x, list) else x)
opel_insignia['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/1808992142.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  opel_insignia = opel_insignia.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    2487
NaN           108
['\n4\n']       2
['\n2\n']       1
Name: count, dtype: int64

In [15]:
opel_astra = scout_car[scout_car['make_model'].str.contains('Opel Astra', na=False)]
opel_astra = opel_astra.applymap(lambda x: str(x) if isinstance(x, list) else x)
opel_astra['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/618069316.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  opel_astra = opel_astra.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    2357
NaN           164
['\n4\n']       5
Name: count, dtype: int64

In [16]:
opel_corsa = scout_car[scout_car['make_model'].str.contains('Opel Corsa', na=False)]
opel_corsa = opel_corsa.applymap(lambda x: str(x) if isinstance(x, list) else x)
opel_corsa['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/3536806432.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  opel_corsa = opel_corsa.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    2087
NaN           120
['\n4\n']       7
['\n2\n']       5
Name: count, dtype: int64

In [17]:
renault_clio = scout_car[scout_car['make_model'].str.contains('Renault Clio', na=False)]
renault_clio = renault_clio.applymap(lambda x: str(x) if isinstance(x, list) else x)
renault_clio['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/2306029734.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  renault_clio = renault_clio.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    1520
NaN           204
['\n2\n']     110
['\n4\n']       5
Name: count, dtype: int64

In [18]:
renault_espace = scout_car[scout_car['make_model'].str.contains('Renault Espace', na=False)]
renault_espace = renault_espace.applymap(lambda x: str(x) if isinstance(x, list) else x)
renault_espace['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/2922229806.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  renault_espace = renault_espace.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    507
['\n7\n']    362
NaN          120
['\n4\n']      1
['\n6\n']      1
Name: count, dtype: int64

In [19]:
renault_duster = scout_car[scout_car['make_model'].str.contains('Renault Duster', na=False)]
renault_duster = renault_duster.applymap(lambda x: str(x) if isinstance(x, list) else x)
renault_duster['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/3953016805.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  renault_duster = renault_duster.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    34
Name: count, dtype: int64

In [20]:
audi_a2 = scout_car[scout_car['make_model'].str.contains('Audi A2', na=False)]
audi_a2 = audi_a2.applymap(lambda x: str(x) if isinstance(x, list) else x)
audi_a2['Nr. of Seats'].value_counts(dropna=False)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_66715/3994993805.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  audi_a2 = audi_a2.applymap(lambda x: str(x) if isinstance(x, list) else x)

Nr. of Seats
['\n5\n']    1
Name: count, dtype: int64

# KM

In [21]:
# for comparison, create a new column containing the old incorrect values
scout_car['km_ORIG'] = scout_car['km']

# Step 1: Remove all non-digit characters except for digits and commas
scout_car['km'] = (
    scout_car['km']
    .str.replace(r'[^\d,]', '', regex=True)  # Remove everything except digits and commas
    .str.replace(',', '')                   # Remove commas
)

# Step 2: Convert to numeric, errors='coerce' will turn invalid entries into NaN
scout_car['km'] = pd.to_numeric(scout_car['km'], errors='coerce')

# Step 3: Drop rows with NaN (i.e., where no numeric value could be extracted)
scout_car['km'] = scout_car['km'].fillna(0)

# Convert again into integer
scout_car['km'] = scout_car['km'].astype(int)


# (Optional) Reset index
#scout_car = scout_car.reset_index(drop=True)

scout_car[['km', 'km_ORIG']]

          km    km_ORIG
0      56013  56,013 km
1      80000  80,000 km
2      83450  83,450 km
3      73000  73,000 km
4      16200  16,200 km
...      ...        ...
15914      0       - km
15915   9900   9,900 km
15916     15      15 km
15917     10      10 km
15918      0       - km

[15919 rows x 2 columns]

In [22]:
(scout_car['km'] == 0).value_counts()

km
False    14876
True      1043
Name: count, dtype: int64

# FUEL

In [24]:
scout_car['Fuel'].value_counts()

Fuel
['\n', 'Diesel (Particulate Filter)', '\n']                                                                                  4315
['\n', 'Super 95', '\n']                                                                                                     3338
['\n', 'Gasoline', '\n']                                                                                                     3175
['\n', 'Diesel', '\n']                                                                                                       2984
['\n', 'Super 95 / Regular/Benzine 91', '\n']                                                                                 424
                                                                                                                             ...
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91', '\n']                                                          1
['\n', 'Super Plus 98 / Super E10 95', '\n']                                                                                    1
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98', '\n']       1
['\n', 'Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98', '\n']       1
['\n', 'Super Plus 98 / Super 95 / Super Plus E10 98', '\n']                                                                    1
Name: count, Length: 77, dtype: int64

In [26]:
scout_car[['Type', 'Fuel']]

,Type,Fuel
0,"['', 'Used', '', 'Diesel (Particulate Filter)']","['\n', 'Diesel (Particulate Filter)', '\n']"
1,"['', 'Used', '', 'Gasoline']","['\n', 'Gasoline', '\n']"
2,"['', 'Used', '', 'Diesel (Particulate Filter)']","['\n', 'Diesel (Particulate Filter)', '\n']"
3,"['', 'Used', '', 'Diesel (Particulate Filter)']","['\n', 'Diesel (Particulate Filter)', '\n']"
4,"['', 'Used', '', 'Diesel (Particulate Filter)']","['\n', 'Diesel (Particulate Filter)', '\n']"
...,...,...
15914,"['', 'New', '', 'Diesel (Particulate Filter)']","['\n', 'Diesel (Particulate Filter)', '\n']"
15915,"['', 'Used', '', 'Super 95 / Super Plus 98 (Pa...","['\n', 'Super 95 / Super Plus 98 (Particulate ..."
15916,"['', 'Pre-registered', '', 'Diesel']","['\n', 'Diesel', '\n']"
15917,"['', 'Pre-registered', '', 'Diesel']","['\n', 'Diesel', '\n']"
15918,"['', 'Demonstration', '', 'Super 95']","['\n', 'Super 95', '\n']"

# TYPE 
TYPE is supposed to only include "new" "used" or similar. Should split off fuel type into its own column, then compare with the pre-existing Fuel column.

TYPE has only two missing values. Both can probably be filled with Used, Diesel. Unless Diesel (Particulate Filter) should be regarded as a separate category.

In [12]:
scout_car[scout_car['Type'].isna()]

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,...,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version
2765,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,SPB 2.0 TDI S tronic Sport,Sedans,17900,None,115137,10/2016,None,110 kW,...,['\n118 g CO2/km (comb)\n'],['\nEuro 6\n'],['Air conditioning'],"['Bluetooth', 'Hands-free equipment']","['Alloy wheels', 'Sport seats', 'Sport suspens...","['ABS', 'Central door lock', 'Driver-side airb...",['\nVeicolo immatricolato il 10/2016 115137\xa...,['\n1 (No sticker)\n'],['\n6\n'],NaN
5237,https://www.autoscout24.com//offers/audi-a3-sp...,Audi A3,SPB 1.6 TDI 116 CV S tronic,Sedans,25400,None,0,-/-,None,85 kW,...,['\n103 g CO2/km (comb)\n'],['\nEuro 6\n'],['Air conditioning'],"['Bluetooth', 'Hands-free equipment']",['Alloy wheels'],"['ABS', 'Central door lock', 'Driver-side airb...","['\n', 'PROMOZIONE CAVOUR: VETTURA KM0 UFFICIA...",['\n1 (No sticker)\n'],['\n7\n'],NaN

In [13]:
type_rows_1 = scout_car[(scout_car['short_description'] == 'SPB 2.0 TDI S tronic Sport') & (scout_car['make_model'] == 'Audi A3')]
type_rows_1[['Type']]

                                                 Type
2765                                              NaN
3313                       ['', 'Used', '', 'Diesel']
3322                       ['', 'Used', '', 'Diesel']
3325                       ['', 'Used', '', 'Diesel']
3327                       ['', 'Used', '', 'Diesel']
3331                       ['', 'Used', '', 'Diesel']
3343                       ['', 'Used', '', 'Diesel']
3347                       ['', 'Used', '', 'Diesel']
3363                       ['', 'Used', '', 'Diesel']
3382                       ['', 'Used', '', 'Diesel']
3388                       ['', 'Used', '', 'Diesel']
3396                       ['', 'Used', '', 'Diesel']
3397                       ['', 'Used', '', 'Diesel']
3398  ['', 'Used', '', 'Diesel (Particulate Filter)']
3585                       ['', 'Used', '', 'Diesel']
3622                       ['', 'Used', '', 'Diesel']
3624                       ['', 'Used', '', 'Diesel']
3626                       ['', 'Used', '', 'Diesel']
3627  ['', 'Used', '', 'Diesel (Particulate Filter)']
3629                       ['', 'Used', '', 'Diesel']
3630                       ['', 'Used', '', 'Diesel']
3643                       ['', 'Used', '', 'Diesel']
3646                       ['', 'Used', '', 'Diesel']
3662  ['', 'Used', '', 'Diesel (Particulate Filter)']
3746                       ['', 'Used', '', 'Diesel']
4492                       ['', 'Used', '', 'Diesel']

In [15]:
type_rows_2 = scout_car[(scout_car['short_description'] == 'SPB 1.6 TDI 116 CV S tronic') & (scout_car['make_model'] == 'Audi A3')]
type_rows_2[['Type']]

                                                 Type
3329                       ['', 'Used', '', 'Diesel']
3440                       ['', 'Used', '', 'Diesel']
3687                       ['', 'Used', '', 'Diesel']
3710                       ['', 'Used', '', 'Diesel']
3711                       ['', 'Used', '', 'Diesel']
3792  ['', 'Used', '', 'Diesel (Particulate Filter)']
3874  ['', 'Used', '', 'Diesel (Particulate Filter)']
3987                       ['', 'Used', '', 'Diesel']
4510  ['', 'Used', '', 'Diesel (Particulate Filter)']
4544  ['', 'Used', '', 'Diesel (Particulate Filter)']
5237                                              NaN
5329             ['', 'Pre-registered', '', 'Diesel']

# INSPECTION? INSPECTION NEW? what is this?

In [39]:
inspection_df = scout_car[['Next Inspection', 'Inspection new']]
inspection_df

,Next Inspection,Inspection new
0,"['\n06/2021\n', '\n99 g CO2/km (comb)\n']","['\nYes\n', '\nEuro 6\n']"
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,NaN,"['\nYes\n', '\n109 g CO2/km (comb)\n']"
...,...,...
15914,NaN,NaN
15915,"['\n01/2022\n', '\n168 g CO2/km (comb)\n']",NaN
15916,NaN,"['\nYes\n', '\nEuro 6d-TEMP\n']"
15917,NaN,NaN
15918,NaN,"['\nYes\n', '\n153 g CO2/km (comb)\n']"

# WARRANTY

In [40]:
scout_car[['Warranty']]

                                     Warranty
0               ['\n', '\n', '\n4 (Green)\n']
1                                         NaN
2      ['\n', '\n', '\n99 g CO2/km (comb)\n']
3                                         NaN
4                  ['\n', '\n', '\nEuro 6\n']
...                                       ...
15914                           \n24 months\n
15915              ['\n', '\n', '\nEuro 6\n']
15916           ['\n', '\n', '\n4 (Green)\n']
15917                                      \n
15918                                     NaN

[15919 rows x 1 columns]

# MODEL CODE?

# FUEL TYPES?

# Curiosity - Body Color?

In [34]:
scout_car['Body Color'].value_counts()

Body Color
['\n', 'Black', '\n']     3745
['\n', 'Grey', '\n']      3505
['\n', 'White', '\n']     3406
['\n', 'Silver', '\n']    1647
['\n', 'Blue', '\n']      1431
['\n', 'Red', '\n']        957
['\n', 'Brown', '\n']      289
['\n', 'Green', '\n']      154
['\n', 'Beige', '\n']      108
['\n', 'Yellow', '\n']      51
['\n', 'Violet', '\n']      18
['\n', 'Bronze', '\n']       6
['\n', 'Orange', '\n']       3
['\n', 'Gold', '\n']         2
Name: count, dtype: int64

In [35]:
scout_car['Body Color Original'].value_counts()

Body Color Original
['\nOnyx Schwarz\n']                     338
['\nBianco\n']                           282
['\nMythosschwarz Metallic\n']           238
['\nBrillantschwarz\n']                  216
['\nGris\n']                             204
                                        ...
['\nRouge-Braun (G0Y)\n']                  1
['\nVARI COLRI DISPONIBILI\n']             1
['\nKokosnussbraun Metallic\n']            1
['\nFarbe frei wählbar\n']                 1
['\nPerlmutt-Weiß Metallic (Weiß)\n']      1
Name: count, Length: 1927, dtype: int64

# MAKE AND MODEL

This is to verify that the make_model column accurately matches up with "Make" and "Model". All data is correct.

In [23]:
make_model_df = scout_car[['make_model', 'Make', 'Model']]
make_model_df

           make_model         Make                   Model
0             Audi A1     \nAudi\n      ['\n', 'A1', '\n']
1             Audi A1     \nAudi\n      ['\n', 'A1', '\n']
2             Audi A1     \nAudi\n      ['\n', 'A1', '\n']
3             Audi A1     \nAudi\n      ['\n', 'A1', '\n']
4             Audi A1     \nAudi\n      ['\n', 'A1', '\n']
...               ...          ...                     ...
15914  Renault Espace  \nRenault\n  ['\n', 'Espace', '\n']
15915  Renault Espace  \nRenault\n  ['\n', 'Espace', '\n']
15916  Renault Espace  \nRenault\n  ['\n', 'Espace', '\n']
15917  Renault Espace  \nRenault\n  ['\n', 'Espace', '\n']
15918  Renault Espace  \nRenault\n  ['\n', 'Espace', '\n']

[15919 rows x 3 columns]

In [29]:
make_model_df['new concat'] = make_model_df['Make'] + make_model_df['Model']
make_model_df

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/3710455448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  make_model_df['new concat'] = make_model_df['Make'] + make_model_df['Model']

,make_model,Make,Model,new concat
0,Audi A1,\nAudi\n,"['\n', 'A1', '\n']","\nAudi\n['\n', 'A1', '\n']"
1,Audi A1,\nAudi\n,"['\n', 'A1', '\n']","\nAudi\n['\n', 'A1', '\n']"
2,Audi A1,\nAudi\n,"['\n', 'A1', '\n']","\nAudi\n['\n', 'A1', '\n']"
3,Audi A1,\nAudi\n,"['\n', 'A1', '\n']","\nAudi\n['\n', 'A1', '\n']"
4,Audi A1,\nAudi\n,"['\n', 'A1', '\n']","\nAudi\n['\n', 'A1', '\n']"
...,...,...,...,...
15914,Renault Espace,\nRenault\n,"['\n', 'Espace', '\n']","\nRenault\n['\n', 'Espace', '\n']"
15915,Renault Espace,\nRenault\n,"['\n', 'Espace', '\n']","\nRenault\n['\n', 'Espace', '\n']"
15916,Renault Espace,\nRenault\n,"['\n', 'Espace', '\n']","\nRenault\n['\n', 'Espace', '\n']"
15917,Renault Espace,\nRenault\n,"['\n', 'Espace', '\n']","\nRenault\n['\n', 'Espace', '\n']"
15918,Renault Espace,\nRenault\n,"['\n', 'Espace', '\n']","\nRenault\n['\n', 'Espace', '\n']"

In [30]:
make_model_df['new concat'].value_counts()

new concat
\nAudi\n['\n', 'A3', '\n']           3097
\nAudi\n['\n', 'A1', '\n']           2614
\nOpel\n['\n', 'Insignia', '\n']     2598
\nOpel\n['\n', 'Astra', '\n']        2526
\nOpel\n['\n', 'Corsa', '\n']        2219
\nRenault\n['\n', 'Clio', '\n']      1839
\nRenault\n['\n', 'Espace', '\n']     991
\nRenault\n['\n', 'Duster', '\n']      34
\nAudi\n['\n', 'A2', '\n']              1
Name: count, dtype: int64

In [28]:
make_model_df['make_model'].value_counts()

make_model
Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: count, dtype: int64

# PREVIOUS OWNERS

SUMMARY - Can extract the first number from "Previous Owners" and delete "prev_owner" altogether as I have verified data matches. Will also have to strip trailing whitespace.

In [11]:
scout_car['Previous Owners'].nunique()

102

In [12]:
scout_car['prev_owner'].nunique()

4

In [13]:
prev_owners_df = scout_car[['Previous Owners', 'prev_owner']]
prev_owners_df

                                         Previous Owners         prev_owner
0                                                  \n2\n  2 previous owners
1                                                    NaN               None
2                                                  \n1\n   1 previous owner
3                                                  \n1\n   1 previous owner
4                                                  \n1\n   1 previous owner
...                                                  ...                ...
15914                                                NaN               None
15915  ['\n1\n', '\n', '7.4 l/100 km (comb)', '\n', '...   1 previous owner
15916               ['\n1\n', '\n139 g CO2/km (comb)\n']   1 previous owner
15917                                                NaN               None
15918                                              \n1\n   1 previous owner

[15919 rows x 2 columns]

In [14]:
prev_owners_df['Previous Owners'].value_counts()

Previous Owners
\n1\n                                                                                                        8101
\n2\n                                                                                                         766
\n0\n                                                                                                         163
\n3\n                                                                                                          17
['\n1\n', '\n168 g CO2/km (comb)\n']                                                                           13
                                                                                                             ...
['\n1\n', '\n111 g CO2/km (comb)\n']                                                                            1
['\n1\n', '\nEuro 6\n']                                                                                         1
['\n2\n', '\n119 g CO2/km (comb)\n']                                                                            1
['\n1\n', '\n', '6.6 l/100 km (comb)', '\n', '8.1 l/100 km (city)', '\n', '5.7 l/100 km (country)', '\n']       1
['\n1\n', '\n142 g CO2/km (comb)\n']                                                                            1
Name: count, Length: 102, dtype: int64

In [15]:
prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].str.extract(r'(\d+)')
prev_owners_df['prev_owner'] = prev_owners_df['prev_owner'].str.extract(r'(\d+)')
prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].fillna(0)
prev_owners_df['prev_owner'] = prev_owners_df['Previous Owners'].fillna(0)
prev_owners_df['values_same'] = (prev_owners_df['Previous Owners'] == prev_owners_df['prev_owner']).astype(int)
prev_owners_df

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/4241681372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].str.extract(r'(\d+)')
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/4241681372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['prev_owner'] = prev_owners_df['prev_owner'].str.extract(r'(\d+)')
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/4241681372.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].fillna(0)
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/4241681372.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['prev_owner'] = prev_owners_df['Previous Owners'].fillna(0)
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/4241681372.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['values_same'] = (prev_owners_df['Previous Owners'] == prev_owners_df['prev_owner']).astype(int)

      Previous Owners prev_owner  values_same
0                   2          2            1
1                   0          0            1
2                   1          1            1
3                   1          1            1
4                   1          1            1
...               ...        ...          ...
15914               0          0            1
15915               1          1            1
15916               1          1            1
15917               0          0            1
15918               1          1            1

[15919 rows x 3 columns]

In [16]:
prev_owners_df['Previous Owners'].value_counts()

Previous Owners
1    8294
0    6640
2     778
0     188
3      17
4       2
Name: count, dtype: int64

# SECOND ATTEMPT

In [17]:
# Step 1: Convert to string and strip whitespace
prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].astype(str).str.strip()

# Step 2: Replace 'nan' strings back with real NaN
prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].replace('nan', pd.NA)

# Step 3: Convert to numeric (coerce errors), then to Int64 (nullable integer type)
prev_owners_df['Previous Owners'] = pd.to_numeric(prev_owners_df['Previous Owners'], errors='coerce').astype('Int64')

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/789326089.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].astype(str).str.strip()
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/789326089.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['Previous Owners'] = prev_owners_df['Previous Owners'].replace('nan', pd.NA)
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_61937/789326089.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prev_owners_df['Previous Owners'] = pd.to_numeric(prev_owners_df['Previous Owners'], errors='coerce').astype('Int64')

In [18]:
print(prev_owners_df['Previous Owners'].value_counts(dropna=False))

Previous Owners
1    8294
0    6828
2     778
3      17
4       2
Name: count, dtype: Int64

In [22]:
prev_owners_df['Previous Owners'].value_counts()

Previous Owners
1    8294
0    6828
2     778
3      17
4       2
Name: count, dtype: Int64

In [19]:
prev_owners_df['prev_owner'].value_counts()

prev_owner
1    8294
0    6640
2     778
0     188
3      17
4       2
Name: count, dtype: int64

# Newest version

In [ ]:
import pandas as pd
import ast

# Step 0: Clean column names (strip whitespace/newlines)
scout_car.columns = scout_car.columns.str.strip()

# Reset index to clean RangeIndex to avoid join misalignment
scout_car = scout_car.reset_index(drop=True)

def expand_features(df, col_name):
    def to_list(val):
        if isinstance(val, str):
            try:
                return ast.literal_eval(val)
            except:
                return []
        elif isinstance(val, list):
            return val
        else:
            return []

    df[col_name] = df[col_name].apply(to_list)
    exploded = df[col_name].explode()
    features_presence = pd.crosstab(exploded.index, exploded).astype(int)
    return features_presence

cols_to_expand = ['Comfort & Convenience', 'Entertainment & Media', 'Extras', 'Safety & Security']

for col in cols_to_expand:
    features_df = expand_features(scout_car, col)
    scout_car = scout_car.join(features_df)
    
    # Fill NaNs with 0 after join
    scout_car[features_df.columns] = scout_car[features_df.columns].fillna(0)
    
    # Convert to int dtype explicitly
    scout_car[features_df.columns] = scout_car[features_df.columns].astype(int)

# Now scout_car has binary 0/1 integer columns for all features, no suffixes, no decimals

# Safety backup functoin

In [ ]:
import pandas as pd
import ast

# Step 0: Clean column names (strip whitespace/newlines)
scout_car.columns = scout_car.columns.str.strip()

def expand_features(df, col_name):
    # Convert strings to lists if needed
    def to_list(val):
        if isinstance(val, str):
            try:
                return ast.literal_eval(val)
            except:
                return []
        elif isinstance(val, list):
            return val
        else:
            return []
    
    df[col_name] = df[col_name].apply(to_list)
    exploded = df[col_name].explode()
    features_presence = pd.crosstab(exploded.index, exploded).astype(int)
    return features_presence

# List of columns to expand
cols_to_expand = ['Comfort & Convenience', 'Entertainment & Media', 'Extras', 'Safety & Security']

# Loop and join all expanded features
for col in cols_to_expand:
    features_df = expand_features(scout_car, col)
    scout_car = scout_car.join(features_df, rsuffix=f'_{col}')

# Now scout_car has binary columns (integers 0 or 1) for all features in those columns.