Description Sentiment Analysis

I used Textblob to extract sentiment from the "description" column and assigned a score between 0 and 5 for each listing. Not yet decided if I will use this in the final project as I don't know if this would be useful to a model, and not sure how much stock I should put in the reliability of translations, but this is proof of concept.

In [1]:
import pandas as pd

In [2]:
scout_car = pd.read_json('scout_car.json', lines=True)
scout_car.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
description_df = scout_car[['description']]
description_df

                                             description
0      [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1      [\nLangstreckenfahrzeug daher die hohe Kilomet...
2      [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3      [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4      [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
...                                                  ...
15914  [\nVettura visionabile nella sede in Via Roma ...
15915  [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916  [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917  [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918  [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...

[15919 rows x 1 columns]

In [4]:
import re

def clean_description(cell):
    # If it's a list of strings, join them
    if isinstance(cell, list):
        text = " ".join(cell)
    else:
        text = str(cell)

    # Remove extra whitespace/newlines
    text = re.sub(r"\s+", " ", text).strip()

    # Optional: remove disclaimer boilerplate if you see recurring patterns
    text = re.sub(r"(Eingabefehler.*?Gewähr\.)", "", text, flags=re.IGNORECASE)

    return text

In [5]:
description_df["description_clean"] = description_df["description"].apply(clean_description)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_88370/2209985426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  description_df["description_clean"] = description_df["description"].apply(clean_description)

In [6]:
description_df

,description,description_clean
0,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",Sicherheit: Deaktivierung für Beifahrer-Airbag...
1,[\nLangstreckenfahrzeug daher die hohe Kilomet...,Langstreckenfahrzeug daher die hohe Kilometerl...
2,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",Fahrzeug-Nummer: AM-95365 Ehem. UPE 24.640 EUR...
3,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",Audi A1: - 1e eigenaar - Perfecte staat: schad...
4,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",Technik & Sicherheit: Xenon plus Klimaautomati...
...,...,...
15914,[\nVettura visionabile nella sede in Via Roma ...,Vettura visionabile nella sede in Via Roma 141...
15915,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...","Dach: Panorama-Glas-Schiebedach, Lackierung: M..."
15916,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",Getriebe: Automatik Technik: Bordcomputer Assi...
15917,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",DEK:[2691331] Renault Espace Blue dCi 200CV ED...
15918,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",Sicherheit Airbags: Seitenairbag Fahrerairbag ...

In [7]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression  # or another model
from sklearn.metrics import mean_squared_error

In [8]:
from textblob import TextBlob
import pandas as pd

In [9]:
# Function to get sentiment polarity (-1 = negative, +1 = positive)
def get_sentiment(text):
    return TextBlob(str(text)).sentiment.polarity

In [10]:
description_df["sentiment_score"] = description_df["description_clean"].apply(get_sentiment)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_88370/3352310014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  description_df["sentiment_score"] = description_df["description_clean"].apply(get_sentiment)

In [11]:
description_df

,description,description_clean,sentiment_score
0,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",Sicherheit: Deaktivierung für Beifahrer-Airbag...,0.500000
1,[\nLangstreckenfahrzeug daher die hohe Kilomet...,Langstreckenfahrzeug daher die hohe Kilometerl...,0.000000
2,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",Fahrzeug-Nummer: AM-95365 Ehem. UPE 24.640 EUR...,0.000000
3,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",Audi A1: - 1e eigenaar - Perfecte staat: schad...,0.437500
4,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",Technik & Sicherheit: Xenon plus Klimaautomati...,1.000000
...,...,...,...
15914,[\nVettura visionabile nella sede in Via Roma ...,Vettura visionabile nella sede in Via Roma 141...,0.433333
15915,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...","Dach: Panorama-Glas-Schiebedach, Lackierung: M...",0.203061
15916,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",Getriebe: Automatik Technik: Bordcomputer Assi...,0.210823
15917,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",DEK:[2691331] Renault Espace Blue dCi 200CV ED...,0.194643
15918,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",Sicherheit Airbags: Seitenairbag Fahrerairbag ...,-0.125000

In [13]:
def sentiment_0_to_5(text):
    polarity = TextBlob(str(text)).sentiment.polarity
    return ((polarity + 1) / 2) * 5

In [14]:
description_df["sentiment_score_0_5"] = description_df["description_clean"].apply(sentiment_0_to_5)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_88370/2266256665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  description_df["sentiment_score_0_5"] = description_df["description_clean"].apply(sentiment_0_to_5)

In [15]:
description_df

,description,description_clean,sentiment_score,sentiment_score_0_5
0,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",Sicherheit: Deaktivierung für Beifahrer-Airbag...,0.500000,3.750000
1,[\nLangstreckenfahrzeug daher die hohe Kilomet...,Langstreckenfahrzeug daher die hohe Kilometerl...,0.000000,2.500000
2,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",Fahrzeug-Nummer: AM-95365 Ehem. UPE 24.640 EUR...,0.000000,2.500000
3,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",Audi A1: - 1e eigenaar - Perfecte staat: schad...,0.437500,3.593750
4,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",Technik & Sicherheit: Xenon plus Klimaautomati...,1.000000,5.000000
...,...,...,...,...
15914,[\nVettura visionabile nella sede in Via Roma ...,Vettura visionabile nella sede in Via Roma 141...,0.433333,3.583333
15915,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...","Dach: Panorama-Glas-Schiebedach, Lackierung: M...",0.203061,3.007653
15916,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",Getriebe: Automatik Technik: Bordcomputer Assi...,0.210823,3.027056
15917,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",DEK:[2691331] Renault Espace Blue dCi 200CV ED...,0.194643,2.986607
15918,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",Sicherheit Airbags: Seitenairbag Fahrerairbag ...,-0.125000,2.187500